.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.chart-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.pie-chart-legend {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.pie-chart-legend-item {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #4b5563;
}

.pie-chart-legend-color {
  width: 12px;
  height: 12px;
  margin-right: 0.5rem;
  border-radius: 2px;
} 